body{
	margin:0;
	font-size:12px;
	background:#c9c9c9;
}
.page{
	width:835px;
	margin:0 auto;
}
.banner{
	height:172px;
	background:url(../images/page_02.png);
}
.nav{
	<span style="color:#ff0000;">height:35px;</span>
	background:url(src="https://visitnewcastle.assets-be.digital/images/banners/11352_NCC_L1_VFR_WebHeader_1920x746_Dec17.jpg" );
	margin-top:-17px;
}
.nav ul{
	list-style:none;
	font-size:14px;
	color:#fff;
}
.nav ul li{
	float:left;
	width:80px;
	text-align:center;
	<span style="color:#ff0000;">line-height:35px;/*可以使字体垂直居中*/</span>
}
.nav ul li a{
	color:#fff;
	text-decoration:none;
}
.nav ul li a:hover{
	text-decoration:underline;
	color:#fba;
}
.log{
	<span style="color:#ff0000;">height:25px;</span>
}
.input1{
	width:100px;
}
.login{
	float:right;
}
marquee{
	<span style="color:#ff0000;">line-height:25px;</span><span style="color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif;">/*可以使字体垂直居中*/</span><span style="color:#ff0000;">
</span>
}
 
 
